{% extends "index.html.twig" %}

{% block body_class_page %}login-page{% endblock %}

{% block body %}
<div class="login-box">
    <div class="login-logo">
        <a href="/login">
            <img src="../static/assets/logo.png" width="77" />
        </a>
    </div>

    <div class="login-box-body rounded shadow">
        <p class="login-box-msg">Recuperar senha</p>

        {% if error %}
            <p class="login-box-msg text-danger">{{ error.messageKey | replace({ "Invalid credentials" : "Email ou senha inválido" }) }}</p>
        {% endif %}

        <form action="/forgot" method="POST" class="form-element">

            <div class="form-group has-feedback">
                <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    name="email"
                    value="{{ email }}" />
                <span class="ion ion-email form-control-feedback"></span>
            </div>

            <div></div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="fog-pwd">
                        <a class="text-info m-l-5 d-flex justify-content-end" href="/login">
                            <i class="ion ion-locked"></i>Voltar?
                        </a>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <button
                        type="submit"
                        class="btn btn-block btn-flat margin-top-10 btn-primary rounded">Enviar
                    </button>
                </div>
            </div>

        </form>
      </div>
</div>
{% endblock %}
