{% extends "index.html.twig" %}

{% block body %}
	<table class="table table-striped">
		<thead>
			<tr class="table-active">
				<th>#</th>
				<th>Nome</th>
				<th>Idade</th>
				<th>Salario</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>#</td>
					<td>{{ user.nome }}</td>
					<td>{{ user.idade }}</td>
					<td>{{ user.salario }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
